$img-width: 600px;

%hover{
    &:hover{
        border-color: black;
    }
}

.hidden {
    display: none;
}

.floor {
    width: $img-width;
    border: 1px solid transparent;
    user-select: none;
    @extend %hover;

    &#floor-0{
        border-color: #00b3ff;
        @extend %hover;
    }
    &#floor-1{
        border-color: #0002ff;
        @extend %hover;
    }
    &#floor-2{
        border-color: #7f00ff;
        @extend %hover;
    }
    &#floor-3{
        border-color: red;
        @extend %hover;
    }
    &#floor-4{
        border-color: blue;
        @extend %hover;
    }
    &#floor-5{
        border-color: #2761b0;
        @extend %hover;
    }
    &#floor-6{
        border-color: #27a7b0;
        @extend %hover;
    }
    &#floor-7{
        border-color: #27b067;
        @extend %hover;
    }
    &#floor-8{
        border-color: #72b027;
        @extend %hover;
    }

}

img {
    width: $img-width;
}

@keyframes twinkling{
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}

.toilet-ladies {
    position: absolute;
    width: 52px;
    height: 47px;
    left: 451px;
    top: 234px;
    overflow: hidden;
    opacity: 0.0;
    display: none;
    &.alert{
        animation-name: twinkling;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        display: initial;
    }
    svg {
        height: 210px;
        width: 200px;
    }
}

.toilet-gentlemen {
    position: absolute;
    width: 48px;
    height: 36px;
    top: 246px;
    left: 502px;
    overflow: hidden;
    opacity: 0.0;
    display: none;
    &.alert{
        animation-name: twinkling;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        display: initial;
    }
    svg {
        height: 210px;
        width: 200px;
    }
}

.cross{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    overflow: hidden;
}