$img-width: 500px;

%hover{
    &:hover{
        border-color: black;
    }
}

.floor {
    width: $img-width;
    border: 1px solid transparent;
    @extend %hover;

    &#floor-2{
        border-color: green;
        @extend %hover;
    }
    &#floor-3{
        border-color: red;
        @extend %hover;
    }
    &#floor-4{
        border-color: blue;
        @extend %hover;
    }

}

img {
    width: $img-width;
}

@keyframes twinkling{
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}

.toilet-ladies {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 81px;
    top: 195px;
    overflow: hidden;
    opacity: 1.0;

    // border: 2px solid red;
    // border-bottom-left-radius: 100%;
    // border-width: 0px 0px 2px 2px;
    opacity: 1.0;
    // &::before{
    //     content: "";
    //     position: absolute;
    //     width: 38px;
    //     height: 36px;
    //     top: 0px;
    //     left: 0px;

    //     border-style: solid;
    //     border-color: red;
    //     border-width: 2px 2px 0px 0px;
    // }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 21px;
    //     height: 19px;
    //     top: 0px;
    //     right: 0px;
        
    //     border-left: 2px solid red;
    //     border-bottom: 2px solid red;
    //     border-top: 2px solid white;
    //     border-right: 2px solid white;
    //     border-bottom-left-radius: 100%;
    // }
    &.alert{
        animation-name: twinkling;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}

.toilet-gentlemen {
    position: absolute;
    width: 41px;
    height: 41px;
    right: 40px;
    top: 205px;
    overflow: hidden;
    opacity: 0.0;
    &.alert{
        animation-name: twinkling;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
}